<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--导入vue-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  <!--导入ajax，进行异步请求，局部刷新数据-->
    <!--    <script href="../meiduo/users/templates/axios.min.js"></script>-->

    <title>美多商城-绑定</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .register_con {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left; /* Center-align the text */
        }

        .l_con {
            text-align: left; /* Left-align the text within the .l_con div */
        }

        .l_con img {
            max-width: 20%;
        }


    </style>
</head>
<body>
<div id="app">
    <!--    <script src="../static/register.js"></script>-->
    <div class="register_con">
        <div class="l_con fl">
            <a href="index.html" class="reg_logo"><img alt="this is brand" src="/static/shangbiao.jpg"></a>
            <div class="reg_slogan">商品美·种类多·欢迎光临</div>
            <div class="reg_banner"></div>
        </div>
        <div class="r_con fr">
            <div class="reg_title clearfix">
                <h1>绑定用户</h1>
                <a href="login.html">登录</a>
            </div>
            <div class="reg_form clearfix">
                <form method="post" class="reg_form" @submit="on_submit">
                    {{csrf_input}}
                    <ul>
                        <li>
                            <label for="phone">手机号：</label>
                            <input type="text" v-model="mobile" @blur="check_mobile" name="mobile" id="phone">
                            <span class="error_tip" v-show="error_mobile">[[error_mobile_message]]</span>
                        </li>
                        <li>
                            <label for="pwd">密码：</label>
                            <input type="password" v-model="password" @blur="check_password" name="password" id="pwd">
                            <span class="error_tip" v-show="error_password">请输入8-20位的密码</span>
                        </li>

                        <li>
                            <label for="pic_code">图形验证码：</label>
                            <input type="text" v-model="image_code" @blur="check_image_code" name="image_code"
                                   id="pic_code" class="msg_input">
                            <img :src="img_data" @click="generate_image_code" alt="这是二维码图片" class="pic_code">
                            <span class="error_tip" v-show="error_image_code">[[error_image_code_message]]</span>
                        </li>
                        <li>
                            <label for="msg_code">短信验证码：</label>
                            <input type="text" v-model="sms_code" @blur="check_sms_code" name="sms_code" id="msg_code"
                                   class="msg_input">
                            <a @click="send_sms_code" class="get_msg_code">[[ sms_code_tip ]]</a>
                            <span class="error_tip" v-show="error_sms_code">[[ error_sms_code_tip ]]</span>
                            <div></div>
                            <div></div>

                            <span class="error_tip">{{sms_code_errmsg}}</span>

                            <span class="error_tip">{{openid_errmsg}}</span>

                            <span class="error_tip">{{qq_login_errmsg}}</span>

                        </li>
                        <input type="hidden" name="openid" value="{{openid}}">

                        <li class="reg_sub">
                            <input type="submit" value="保存" name="">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>


<!--<div class="footer no-mp">-->
<!--    <div class="foot_link">-->
<!--        <a href="#">关于我们</a>-->
<!--        <span>|</span>-->
<!--        <a href="#">联系我们</a>-->
<!--        <span>|</span>-->
<!--        <a href=“#”>招聘人才</a>-->
<!--        <span>|</span>-->
<!--        <a href="#">友情链接</a>-->
<!--    </div>-->
<!--    <p>CopyRight e 2016 北京美多商业股份有限公司 All Rights Reserved</p>-->
<!--    <p>电话：810-****888-->
<!--        京ICP备＊＊＊＊＊＊＊8号</p>-->
<!--</div>-->


<!--引入js代码-->
<script>
    function ppuuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }
</script>


<!--引入vue代码-->
<script>
    const { createApp, ref } = Vue;

    const app = createApp({
        delimiters:['[[',']]'],
        data() {
            return {
                mobile: "",
                password: "",
                image_code_url:"",
                uuid:"",
                img_data:"",
                image_code:"",
                sms_code_tip:"获取短信验证码",
                sms_code:"",
                openid:"",


                error_mobile: false,
                error_password: false,
                error_image_code: false,
                send_flag: false,

                error_mobile_message: "",
                error_image_code_message: "",
                error_sms_code:true,
                error_sms_code_tip:"",

            };
        },
        // 刷新整体页面的时候
        mounted(){
            this.generate_image_code();
            //            const openidElement = document.querySelector('input[name="access_token_openid"]');
            //            if (openidElement) {
            //                this.openid = openidElement.value;
            //            }
        },
        methods: {
            //发送短信验证码时，同时验证图形码是否正确，以及手机短信验证码是否正确
            send_sms_code(){
                //防止恶意点击，连续点击，设置一个send_flag，相当于一个控制门
                if (this.send_flag===true){ //先判断是否已经发出短信
                    return; //短信已经发出，退回去
                }
                this.send_flag=true; //短信没有发出，可以发送短信的状态

                //校验数据，mobile，image_code
                this.check_mobile();
                this.check_image_code();
                if (this.error_mobile===true || this.error_image_code===true){
                    this.send_flag=false;
                    return;
                }

                let url='/register/sms_codes/'+this.mobile+'/?image_code='+this.image_code+'&uuid='+this.uuid;
                axios.get(url,
                    {responseType : 'json'}
                )
                    .then(response => {
                    // #因为在view调用时，return了response值 ,里面包含了code。
                    if (response.data.code === '0'){
                        let num=60;
                        // 倒计时60s(定时器)，可以发送短信
                        let t= setInterval(()=>{
                            if (num===1){
                                // 倒计时即将结束,停止回调函数
                                clearInterval(t);
                                // 还原sms_code_tip的提示文字
                                this.sms_code_tip='获取短信验证码';
                                //重新生成图形验证码
                                // this.generate_image_code();
                                this.send_flag= false;
                            }else{
                                if (num!=1 && this.error_sms_code ==false ){
                                    // 倒计时即将结束,停止回调函数
                                    clearInterval(t);
                                    // 还原sms_code_tip的提示文字
                                    this.sms_code_tip="已完成验证";
                                    //重新生成图形验证码
                                    this.send_flag= true;
                                }else{
                                    if(num!=1 && this.error_sms_code==true){
                                        //正在倒计时
                                        num-=1;
                                        this.sms_code_tip=num+'s';}
                                }

                            }
                        }, 1000);
                    }else{
                        if (response.data.code === '4001'){
                            this.error_image_code_message=response.data.errmsg;
                            this.error_image_code=true;
                        }else{

                            if (response.data.code === '4004'){
                                this.sms_code_tip=response.data.errmsg;
                                this.error_sms_code=true;

                            }else{
                                this.send_flag=false;
                            }
                        }
                    }
                })
                    .catch(error => {
                    console.log(error.response);
                    this.send_flag=false;
                });
            },


            generate_image_code(){
                this.uuid= ppuuid();
                this.image_code_url='/register/image_codes/'+this.uuid+'/';
                axios.get(this.image_code_url)
                    .then((response) => {
                    this.img_data ='data:image/png;base64,'+ response.data.img_base64;
                })
                    .catch((error) => {
                    console.log(error.response);
                });
            },


            // 校验手机号
            check_mobile() {
                let regex1 = /1\d{10}$/;
                if (regex1.test(this.mobile)) {
                    this.error_mobile = false;
                }else {
                    this.error_mobile_message = "输入的手机号不正确";
                    this.error_mobile = true;
                }

                // 判断手机是否存在
                if (this.error_mobile==false){
                    let url='/mobiles/'+this.mobile+'/count/';
                    axios.get(url,{
                        responseType:'json'
                    })
                        .then(response =>{
                        if(response.data.count==1){
                            // 手机存在
                            this.error_mobile_message='已注册用户';
                            this.error_mobile = true;
                        }else{
                            // 手机号不存在
                            this.error_mobile_message='新手机用户';
                            this.error_mobile = true;
                        }
                    })
                        .catch(error => {
                        console.log(error.response)
                    })
                }


            },

            // 校验密码
            check_password(){
                let regex = /[0-9a-zA-Z]{8,20}$/;
                if (regex.test(this.password)) {
                    this.error_password = false;
                } else {
                    this.error_password = true;
                }
            },

            // 校验图形验证码
            check_image_code() {
                if (this.image_code.length !=4 ) {
                    this.error_image_code_message='请输入图形验证码';
                    this.error_image_code = true;
                } else {
                    this.error_image_code = false;
                }
            },

            // 校验短信验证码
            check_sms_code() {
                let url='/register/'+this.mobile;
                axios.get(url,{
                    responseType:'json'
                })
                    .then(response => {
                    if (response.data.code=='4002') {
                        this.error_sms_code_tip=response.data.errmsg;
                        this.error_sms_code = true;
                    } else {
                        if (response.data.code=='1'){
                            if (response.data.errmsg!=this.sms_code){
                                this.error_sms_code_tip ='输入正确的短信验证码';
                                this.error_sms_code = true;
                            }else{
                                this.error_sms_code = false;

                            }
                        }
                    }
                })
                    .catch(error => {
                    console.log(error.response)
                })
            },


            // 监听表单提交事件
            on_submit() {
                // Run validation checks
                this.check_mobile();
                this.check_password();
                this.check_sms_code();


                if (this.error_mobile.value===true && this.error_password.value===false && this.error_image_code===false && this.error_sms_code===false){

                    window.event.returnValue = true ;


                }

            }
        }

    });

    app.mount("#app");

</script>
</body>
</html>
