<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--导入vue-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  <!--导入ajax，进行异步请求，局部刷新数据-->
    <title>美多商城-订单确认</title>
    <style></style>
</head>
<body>
<div id="app">
    <div class="header_con">
        <div class="header" v-cloak>
            <div class="welcome fL">欢迎来到美多商城！</div>
            <div class="fr">
                <div v-if="username" class="login_btn fl">
                    欢迎您：<em>[[ username ]]</em>
                    <span>|</span>
                    <a href="/logout">退出</a>
                </div>
                <div v-else class="login_btn fl">
                    <a href="/login">登录</a>
                    <span>|</span>
                    <a href="/register">注册</a>
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="/info">用户中心</a>
                    <span>|</span>
                    <a href="/carts">我的购物车</a>
                    <span>|</span>
                    <a href="/orders">我的订单</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>确认收货地址</h3>
    </div>
    <div>
        <dl>
        {% if addresses %}
            {% load my_filters %}
        <dt>寄送到：</dt>
        {% for address in addresses %}
            <dd @click=" nowsite = {{address.id}} "><input type="radio" v-model="nowsite" :value="{{address.id}}">
            {{address.province}}&nbsp;&nbsp;{{address.city}}&nbsp;&nbsp;{{address.district}}&nbsp;&nbsp;
                ({{address.receiver | hide_middle_name}} 收)&nbsp;&nbsp;{{address.mobile | hide_middle}}</dd>
        {% endfor %}
        {% endif %}
        </dl>
        <a href="{% url 'user:address' %}">编辑收货地址</a>
    </div>
    <h3>支付方式</h3>
    <div>
        <input type="radio" name="pay_method" value="1" v-model="pay_method">
        <label>货到付款</label>
        <input type="radio" name="pay_method" value="2" v-model="pay_method">
        <label>支付宝</label>
    </div>
    <h3>商品列表</h3>
    <table>
  <thead>
    <tr>
        <th>商品名称</th>
        <th>商品价格</th>
        <th>商品数量</th>
        <th>小计</th>
    </tr>
  </thead>
    <tbody>
    {% for sku in skus %}
    <tr>
        <td>{{sku.name}}</td>
        <td>{{sku.price}}元</td>
        <td>{{sku.count}}</td>
        <td>{{sku.amount}}元</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <h3>总金额结算</h3>
    <div>
        <div>共<em>{{total_count}}</em>件商品，总金额{{total_amount}}</div>
        <div>运费：<b>{{freight}}元</b></div>
        <div>实付款：<b>{{total_payment}}元</b></div>
    </div>
    <div>
        <button @click="on_order_submit" id="order_btn">提交订单</button>
    </div>
    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight 2016 北京美多商业股份有限公司 All Rights Reserved</p>
        <p>电话：010-****88R 京ICP奋*＊＊＊＊＊＊8号</P>
    </div>
</div>
</body>
<script>
    let default_address_id = (typeof {{ user.default_address_id }} !== 'undefined') ? {{ user.default_address_id }} : null;
    let payment_amount = (typeof {{ total_amount }} !== 'undefined') ? {{ total_amount }} : 0;
</script>

<script>
    const { createApp, ref } = Vue;

    const app = createApp ({
    delimiters: ['[[', ']]'],
    data() {
        this.username=this.getCookie('username');
        this.default_address_id=default_address_id;
        return {
            order_submitting:false,
            pay_method:2,
            nowsite:'',
            payment_amount:'',
        };
    },
    created() {
    // 在组件创建时，将默认地址ID设置为nowsite的值
    this.nowsite = this.default_address_id;
  },
    methods: {
    getCookie(name) {
        const cookies = document.cookie.split('; ');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].split('=');
            if (cookie[0] === name) {
            return cookie[1];
            }
        }
            return null;
    },

    // 提交订单
    on_order_submit(){
        if(!this.nowsite){
         alert('请选择收货地址');
         return;
         }
        if (!this.pay_method){
         alert('请选择支付方式');
         return;
         }
        if (this.order_submitting==false){
         this.order_submitting=true;
         let url='/orders/commit/';
            axios.post(url,
                {
                address_id:this.nowsite,
                pay_method:parseInt(this.pay_method)
                },{
                headers:{
    '               X-CSRFToken':this.getCookie('csrftoken')
                },
                responseType:'json'
                })
            .then(response => {
                this.order_submitting=false;
                if(response.data.code=='0'){
                    location.href='/orders/success/?order_id='+response.data.order_id+
                                    '&payment_amount='+this.payment_amount+'&pay_method='+this.pay_method;
                    console.log(response.data.order_id)
                }else if(response.data.code=='406'){
                    location.href='/login/?next=/orders/settlement';
                }else{
                    alert(response.data.errmsg);
                    }
                })
                .catch(error=>{
                 this.order_submitting=false;
                 console.log(error.response);
                })
            }},
        },
    });
    app.mount("#app");
</script>
</html>
