<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--导入vue-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  <!--导入ajax，进行异步请求，局部刷新数据-->
    <!--    <script href="../meiduo/users/templates/axios.min.js"></script>-->

    <title>美多商城-注册</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .register_con {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left; /* Center-align the text */
        }

        .l_con {
            text-align: left; /* Left-align the text within the .l_con div */
        }

        .l_con img {
            max-width: 20%;
        }


    </style>

</head>
<body>
<div id="app">
    <!--    <script src="../static/register.js"></script>-->
    <div class="register_con">
        <div class="l_con fl">
            <a href="index.html" class="reg_logo"><img alt="this is brand" src="/static/shangbiao.jpg"></a>
            <div class="reg_slogan">商品美·种类多·欢迎光临</div>
            <div class="reg_banner"></div>
        </div>
        <div class="r_con fr">
            <div class="reg_title clearfix">
                <h1>用户注册</h1>
                <a href="login.html">登录</a>
            </div>
            <div class="reg_form clearfix">
                <form method="post" class="register_form" @on_submit="on_submit" >
                    {{csrf_input}}
                    <ul>
                        <li>
                            <label for="user_name">用户名：</label>
                            <input type="text" v-model="username" @blur="check_username" name="username" id="user_name">
                            <span class="error_tip" v-show="error_name">[[error_name_message]]</span>
                        </li>
                        <li>
                            <label for="pwd">密码：</label>
                            <input type="password" v-model="password" @blur="check_password" name="password" id="pwd">
                            <span class="error_tip" v-show="error_password">请输入8-20位的密码</span>
                        </li>
                        <li>
                            <label for="cpwd">确认密码：</label>
                            <input type="password" v-model="password2" @blur="check_password2" name="password2"
                                   id="cpwd">
                            <span class="error_tip" v-show="error_password2">两次输入的密码不一致</span>
                        </li>
                        <li>
                            <label for="phone">手机号：</label>
                            <input type="text" v-model="mobile" @blur="check_mobile" name="mobile" id="phone">
                            <span class="error_tip" v-show="error_mobile">[[error_mobile_message]]</span>
                        </li>
                        <li>
                            <label for="pic_code">图形验证码：</label>
                            <input type="text" name="image_code" id="pic_code" class="msg_input">
                              <img :src="img_data" @click = "generate_image_code" alt="这是二维码图片" class="pic_code">
                            <span class="error_tip">请填写图形验证码</span>
                        </li>
                        <li>
                            <label for="msg_code">短信证码：</label>
                            <input type="text" name="sms_code" id="msg_code" class="msg_input">
                            <a href="javascript:;" class="get_msg_code">获取短信验证码</a>
                            <span class="error_tip">请填写手机验证码</span>
                        </li>
                        <li class="agreement">
                            <input type="checkbox" v-model="allow" @change="check_allow" name="allow" id="allow">
                            <label for="allow"> 同意“美多商城用户使用协议”</label>
                            <span class="error_tip" v-show="error_allow">请勾选用户协议</span>

                            {% if register_error %}
                            <span class="error_tip">{{ register_error }}</span>
                            {% endif %}

                        </li>
                        <li class="reg_sub">
                            <!--                            <input type="submit" value="注   册">-->
                            <button type="submit"> 注 册</button>
                        </li>
            </div>
        </div>
    </div>
</div>

<!--<div class="footer no-mp">-->
<!--    <div class="foot_link">-->
<!--        <a href="#">关于我们</a>-->
<!--        <span>|</span>-->
<!--        <a href="#">联系我们</a>-->
<!--        <span>|</span>-->
<!--        <a href=“#”>招聘人才</a>-->
<!--        <span>|</span>-->
<!--        <a href="#">友情链接</a>-->
<!--    </div>-->
<!--    <p>CopyRight e 2016 北京美多商业股份有限公司 All Rights Reserved</p>-->
<!--    <p>电话：810-****888-->
<!--        京ICP备＊＊＊＊＊＊＊8号</p>-->
<!--</div>-->

<!--引入js代码-->
<script>
    function ppuuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }
</script>
</body>



<!--引入vue代码-->
<script>
    const { createApp, ref } = Vue;

    const app = createApp({
    delimiters:['[[',']]'],
    data() {
        return {
            username: "",
            password: "",
            password2: "",
            mobile: "",
            allow: "",
            image_code_url:"",
            uuid:"",
            img_data:"",

            error_name: false,
            error_password: false,
            error_password2: false,
            error_mobile: false,
            error_allow: false,
            error_name_message: "",
            error_mobile_message: ""
        };
    },
    mounted(){
        this.generate_image_code();
    },
    methods: {
    generate_image_code(){
    this.uuid= ppuuid();
    this.image_code_url='/register/image_codes/'+this.uuid+'/';
        axios.get(this.image_code_url)
            .then((response) => {
            this.img_data ='data:image/png;base64,'+ response.data.img_base64;
            })
            .catch((error) => {
                 console.log(error.response);
            });
    },},

    check_username() {
    // 用户名是5-20个字符，[a-zA-Z0-9_-]
    // 定义正则
    let regex0 = /[a-zA-Z0-9_-]{5,20}$/;
    // 使用正则匹配用户名数据
    if (regex0.test(this.username)) {
    // 匹配成功，不展示错误提示信息
    this.error_name = false;
    } else {
    // 匹配失败，展示错误提示信息
    this.error_name_message = '请输入5-20个字符的用户名';
    this.error_name = true;
    }

    // 判断用户是否重复注册
    if (this.error_name==false){
    let url='/usernames/'+this.username+'/count/';
    axios.get(url,{
    responseType:'json'
    })
        .then(response =>{
    if(response.data.count==1){
    // 用户名已存在
    this.error_name_message='用户名已存在';
    this.error_name = true;
    }else{
    // 用户名可用
    this.error_name = false;
    }
    })
        .catch(error => {
    console.log(error.response)
    })
    }
    },

    // 校验密码
    check_password() {
    let regex = /[0-9a-zA-Z]{8,20}$/;
    if (regex.test(this.password)) {
    this.error_password = false;
    } else {
    this.error_password = true;
    }
    },
    // 密码确认
    check_password2() {
    if (this.password !== this.password2) {
    this.error_password2 = true;
    } else {
    this.error_password2 = false;
    }
    },
    // 校验手机号
    check_mobile() {
    let regex1 = /1[0-9]\d{9}$/;
    if (regex1.test(this.mobile)) {
    this.error_mobile = false;
    } else {
    this.error_mobile_message = "输入的手机号不正确";
    this.error_mobile = true;
    }
    // 判断手机是否重复注册
    if (this.error_mobile==false){
    let url='/mobiles/'+this.mobile+'/count/';
    axios.get(url,{
    responseType:'json'
    })
        .then(response =>{
    if(response.data.count==1){
    // 手机已存在
    this.error_mobile_message='手机已存在';
    this.error_mobile = true;
    }else{
    // 用户名可用
    this.error_mobile = false;
    }
    })
        .catch(error => {
    console.log(error.response)
    })
    }
    },
    // 校验是否勾选
    check_allow() {
    if (this.allow) {
    this.allow = true;
    } else {
    this.allow = false;
    }
    },
    // 监听表单提交事件
    on_submit() {
    // Run validation checks
    this.check_username();
    this.check_password();
    this.check_password2();
    this.check_mobile();
    this.check_allow();

    if (error_name.value == true && error_password.value==true && error_password2.value==true &&
    error_mobile.value==true && error_allow.value==true){
    window.event.returnValue = True ;
    }


    // // Handle the form submission based on validation results
    // if (!this.error_name && !this.error_password && !this.error_password2 && !this.error_mobile && !this.error_allow)
    {
    // // Form is valid, submit it
    // console.log("Form submitted successfully!");
    // } else {
    // // Form has errors, do not submit
    // console.log("Form has errors, please fix them.");
    // }
    }
    }

    });

    app.mount("#app");

</script>
</body>

