<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--导入vue-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  <!--导入ajax，进行异步请求，局部刷新数据-->
    <title>美多商城-用户中心</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none; /* 隐藏默认的列表标记 */
            padding: 0; /* 可以添加一些内边距以调整文本与左侧边框的距离 */

        }
        .site_list{
            border: 1px solid #000; /* 设置1像素的实线边框，颜色为黑色 (#000) */
            padding: 10px; /* 添加一些内边距，以使边框与列表内容之间有一些间隔 */
        }

        form {
            list-style: none;
            padding: 0;
            border: 1px solid #000;
            padding: 10px;
            text-align:left;
        }

        .t::before{
            content:'\00a0';
        }

        .header_con {
            background-color: #ffffff;
            color: #fff;
            padding: 10px;
        }

        .header {
            display: flex;
            justify-content: space-between;
        }

        .welcome {
            font-size: 18px;
        }

        .login_btn a {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }

        .user_link a {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }

        .search_bar {
            background-color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            text-decoration: none;
        }

        .search_wrap {
            display: flex;
            align-items: center;
        }

        .input_text {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .input_btn {
            background-color: #333;
            color: #fff;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .search_suggest {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .search_suggest li {
            margin: 5px 0;
        }

        .main_con {
            background-color: #fff;
            padding: 20px;
        }

        .left_menu_con {
            background-color: #ffffff;
            color: #fff;
            padding: 10px;
        }

        .left_menu_con h3 {
            font-size: 18px;
            margin: 0;
            padding: 10px 0;
        }

        .left_menu_con ul {
            list-style: none;
            padding: 0;
        }

        .left_menu_con li {
            margin: 5px 0;
        }

        .right_content {
            padding: 20px;
        }

    </style>
</head>


<body>
<div id="app">
    <div class="header_con">
        <div class="header" v-cloak>
            <div class="welcome fL">欢迎来到美多商城！</div>
            <div class="fr">
                <div v-if="username" class="login_btn fl">
                    欢迎您：<em>[[ username ]]</em>
                    <span>|</span>
                    <a href="/logout">退出</a>
                </div>
                <div v-else class="login_btn fl">
                    <a href="/login">登录</a>
                    <span>|</span>
                    <a href="/register">注册</a>
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="/info">用户中心</a>
                    <span>|</span>
                    <a href="cart.html">我的购物车</a>
                    <span>|</span>
                    <a href="user_center_order.html">我的订单</a>
                </div>
            </div>
        </div>
    </div>
    <div class="search_bar clearfix">
        <a href="/" class="logo fl">
            <div class='search_wrap fl'>
                <form method="get" action="/search/" class="search_con">
                    <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                    <input type="submit" class="input_btn fr" name="" value="搜索">
                </form>
                <ul class="search_suggest fl">
                    <li><a href="#">索尼微单</a></li>
                    <li><a href="#">优惠15元</a></li>
                    <li><a href="#">美妆个护</a></li>
                    <li><a href="#">买2免1</a></li>
                </ul>
            </div>
    </div>
    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>

            <ul>
                <li><a href="/info">·个人信息</a></li>
                <li><a href="/address" class="active">·收货地址</a></li>
                <li><a href="/order">·全部订单</a></li>
                <li><a href="/changepassword">·修改密码</a></li>
            </ul>
        </div>

        <div class="right_content clearfix" v-cloak>
            <div class="site_top_con">
                <button @click="is_show_edit=true">新增收货地址</button>
                <div></div>
                <span>你已创建了<b>[[ addresses.length ]]</b>个收货地址，最多可创建<b>5</b>个</span>
            </div>
            <div class="site_con" v-for="(address, index) in addresses">
                <div class="site_title">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <button @click="show_edit_title(index)">编辑题目</button>
                    <div v-if="edit_title_index===index">
                        <input v-model="new_title" type="text" name="">
                        <input @click="save_title(index)" type="button" name="" value="保 存">
                        <input @click="cancel_title(index)" type="reset" name="" value="取 消">
                    </div>
                    <div>
                        <h3>[[ address.title ]]</h3>
                        <em v-if="address.id==default_address_id">默认地址</em>
                        <em v-else><button @click="delete_address(index)" class="del_site">x</button></em>
                    </div>
                </div>
                <ul class="site_list">
                    <li><span>收货人：</span><b>[[ address.receiver ]]</b></li>
                    <li><span>所在地区：</span><b>[[ address.province ]] [[address.city]] [[ address.district ]]</b></li>
                    <li><span>地址：</span><b>[[ address.place ]]</b></li>
                    <li><span>手机：</span><b>[[ address.mobile ]]</b></li>
                    <li><span>固定电话：</span><b>[[ address.tel ]]</b></li>
                    <li><span>电子邮箱：</span><b>[[ address.email ]]</b></li>
                </ul>
                <div class="down_btn">
                    <button v-if="address.id!=default_address_id" @click="set_default(index)">设为默认地址</button>
                    <button @click="show_edit_site(index)" class="edit_icon">编辑地址</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight 2016 北京美多商业股份有限公司 All Rights Reserved</p>
        <p>电话：010-****88R 京ICP奋*＊＊＊＊＊＊8号</P>
    </div>

    <div class="pop_con" v-show="is_show_edit" v-cloak>
        <div class="site_con site_pop">
            <div class="site pop title">
                <h3>编辑收货地址</h3>
            </div>
            <form>
                <div class="form_group">
                    <label>*收货人：</label>
                    <input v-model="form_address.receiver" @blur="check_receiver" type="text" class="check_receiver">
                    <span v-show="error_receiver" class="receiver_error">请填写收件人</span>
                </div>
                <div class="form_group">
                    <label class="t">所在地区：</label>
                    <select v-model="form_address.province_id">
                        <option value="">请选择省份</option>
                        <option v-for="province in provinces" :value="province.id">[[ province.name ]]</option>
                    </select>
                    <select v-model="form_address.city_id">
                        <option value="">请选择市</option>
                        <option v-for="city in cities" :value="city.id">[[ city.name ]]</option>
                    </select>
                    <select v-model="form_address.district_id">
                        <option value="">请选择区</option>
                        <option v-for="district in districts" :value="district.id">[[ district.name ]]</option>
                    </select>
                </div>

                <div class="form_group">
                    <label>*详细地址：</label>
                    <input v-model="form_address.place" @blur="check_place" type="text" class="place">
                    <span v-show="error_place" class="place_error">请填写地址信息</span>
                </div>
                <div class="form_group">
                    <label>*手机：</label>
                    <input v-model="form_address.mobile" @blur="check_mobile" type="text" class="mobile">
                    <span v-show="error_mobile" class="mobile_error">手机信息有误</span>
                </div>
                <div class="form_group">
                    <label class="t">固定电话：</label>
                    <input v-model="form_address.tel" @blur="check_tel" type="text" class="tel">
                    <span v-show="error_tel" class="tel_error">固定电话有误</span>
                </div>
                <div class="form_group">
                    <label class="t">邮箱：</label>
                    <input v-model="form_address.email" @blur="check_email" type="text" class="email">
                    <span v-show="error_email" class="email_error">邮箱信息有误</span>
                </div>
                <input @click="save_address" type="button" name="" value="保存" class="info_submit">
                <input @click="is_show_edit=false" type="reset" name="" value="取 消" class="info_submission">
            </form>
        </div>
        <div class="mask"></div>
    </div>
</div>

<!--    普通js代码 获得前端的数据-->
<script type="text/javascript">
    let addresses = {{address | safe}};
    let default_address_id = "{{default_address_id}}";
</script>
</body>

<!--  vue代码，将js获得的变量进行运用-->
<script>
    const { createApp, ref } = Vue;

    const app = createApp ({

        delimiters:['[[',']]'],

        data(){
            return {
                username: '',
                is_show_edit: false,
                form_address: {
                    receiver:'',
                    province_id:'',
                    city_id:'',
                    district_id:'',
                    place:'',
                    mobile:'' ,
                    tel:'',
                    email:'',
                },

                provinces: [],
                cities: [],
                districts: [],

                // 通过前面的js代码获得
                addresses: JSON.parse(JSON.stringify(addresses)),
                default_address_id: default_address_id,

                editing_address_index:'',
                edit_title_index:'',
                new_title:'',

                error_receiver: false,
                error_place: false,
                error_mobile: false,
                error_tel: false,
                error_email: false,
            }
        },

        mounted(){
            this.get_provinces();
            this.username = this.getCookie('username');
        },

        // 用于监视 Vue 实例的数据变化并在数据变化时执行特定的逻辑。
        watch:{
            //监听到省份id变化
            'form_address.province_id': function(){
                if (this.form_address.province_id) {
                    let url = '/areas/?area_id=' + this.form_address.province_id;
                    axios.get(url, {
                        responseType: 'json'
                    })
                        .then(response => {
                        if (response.data.code == '0') {
                            this.cities = response.data.sub_data.subs;
                        } else {
                            console.log (response.data);
                            this.cities = [];
                        }
                    })
                        .catch(error =>{
                        console.log(error.response) ;
                        this.cities = [];
                    })
                }
            },
            //监听到区id变化
            'form_address.city_id': function(){
                if (this.form_address.city_id) {
                    let url = '/areas/?area_id=' + this.form_address.city_id;
                    axios.get(url, {
                        responseType: 'json'
                    })

                        .then(response => {
                        if (response.data.code == '0') {
                            this.districts = response.data.sub_data.subs;
                        } else {
                            console.log (response.data);
                            this.districts= [];
                        }
                    })
                        .catch(error =>{
                        console.log(error.response) ;
                        this.districts= [];
                    })
                }
            },
        },


        methods:{
            getCookie(cookieName) {
                const name = cookieName + "=";
                const decodedCookie = decodeURIComponent(document.cookie);
                const cookieArray = decodedCookie.split(';');
                for (let i = 0; i < cookieArray.length; i++) {
                    let cookie = cookieArray[i];
                    while (cookie.charAt(0) === ' ') {
                        cookie = cookie.substring(1);
                    }
                    if (cookie.indexOf(name) === 0) {
                        return cookie.substring(name.length, cookie.length);
                    }
                }
                return "";
            },

            show_edit_site(index){
                this.is_show_edit = true;// 显示编辑界面
                // this.clear_all_errors();
                this.editing_address_index = index.toString();
                // 只获取要编辑的数据
                this.form_address = JSON.parse(JSON.stringify(this.addresses[index]));
            },

            delete_address(index){
                let url = '/address/'+this.addresses[index].id+'/'
                axios.delete(url,{
                    headers: {
                        'X-CSRFToken': this.getCookie('csrftoken')
                    },
                    responseType: 'json'
                })
                    .then(response => {
                    if(response.data.code=='0'){
                        //删除对应标签
                        //添加元素splice(index, 0无删除元素, itemToAdd) 删除元素splice(index, 1删除一个元素) 替换元素splice(index, 1删除一个元素, newItem)
                        this.addresses.splice(index,1);
                    }else if(response.data.code=='406'){
                        location.href='/login/?next=/address/';
                    }else{
                        alert(response.data.errmsg);
                    }
                })
                    .catch(error => {
                    console.log(error.response);
                })
            },

            set_default(index){
                let url = '/address/default/'+this.addresses[index].id+'/' ;
                axios.put(url,{}, {
                    headers: {
                        'X-CSRFToken': this.getCookie('csrftoken')
                    },
                    responseType: 'json'
                })
                    .then(response => {
                    if (response.data.code == '0') {
                        // 设置默认地址标签
                        this.default_address_id = this.addresses[index].id;
                    } else if (response.data.code == '406') {
                        location.href = '/login/?next=/addresses/';
                    } else {
                        alert(response.data.errmsg);
                    }
                })
                    .catch(error => {
                    console.log(error.response);
                })
            },

            show_edit_title(index){
                this.edit_title_index=index;
            },

            cancel_title(){
                this.edit_title_index='';
                this.new_title='';
            },

            // 修改地址title
            save_title(index){
                if (!this.new_title) {
                    alert("请填写标题后再保存！");
                } else {
                    let url = '/address/title/' + this.addresses[index].id +'/' ;
                    axios.put(url, {
                        title: this.new_title
                    }, {
                        headers: {
                            'X-CSRFToken':this.getCookie('csrftoken')
                        },
                        responseType: 'json'
                    })
                        .then(response => {
                            if (response.data.code == '0') {
                                // 更新地址title
                                this.addresses[index].title = this.new_title;
                                this.cancel_title();
                            } else if (response.data.code == '406') {
                                location.href = '/login/?next=/address/';
                            } else {
                                alert(response.data.errmsg);
                            }
                        })
                        .catch(error => {
                            console.log(error.response);
                        })
                }
            },

            // 获取省份数据
            get_provinces(){
                let url = '/areas/';
                axios.get(url, {
                    responseType: 'json'
                })
                    .then(response => {
                    if (response.data.code == '0') {
                        this.provinces = response.data.province_list;
                    } else {
                        console.log(error.response) ;
                        this.provinces = [];
                    }
                })
                    .catch(error => {
                    console.log(error.response) ;
                    this.provinces = [];
                })
            },

            //校验收件人名称
            check_receiver(){
                let regex0 = /[a-zA-Z0-9_-]{1,10}$/;
                // 使用正则匹配用户名数据
                if (regex0.test(this.form_address.receiver)) {
                    this.error_receiver= false;
                }else{
                    this.error_receiver= true;
                }
            },
            //校验地址
            check_place(){
                let regex0= /\S+/;
                if(regex0.test(this.form_address.place)){
                    this.error_place=false;

                }
                else{
                    this.error_place=true;
                }

            },

            //校验手机号码
            check_mobile(){
                let regex0= /1[0-9]{10}$/;
                if(regex0.test(this.form_address.mobile)){
                    this.error_mobile=false;
                }else{
                    this.error_mobile= true;
                }

            },

            //校验固定电话
            check_tel(){
                let regex0= /[0-9]{6,10}$/;
                if(regex0.test(this.form_address.tel)){
                    this.error_tel=false;
                }else{
                    this.error_tel= true;
                }

            },

            //校验邮箱
            check_email(){
                // let regex0= /\w+@\w+\.\w+$/;
                let regex0= /[\w+@][\w+\.]/; //[@][.]必须包含@和. [@]|[.]表示或
                if (regex0.test(this.form_address.email)){
                    this.error_email= false;
                }else{
                    this.error_email= true;
                }

            },

            getCookie(name) {
                const cookies = document.cookie.split('; ');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].split('=');
                    if (cookie[0] === name) {
                        return cookie[1];
                    }
                }
                return null;
            },

            //新增收货地址
            save_address(){
                if (this.error_receiver || this.error_place || this.error_mobile || this.error_email
                || !this.form_address.province_id ||!this.form_address.city_id || !this.form_address.district_id ){
                    alert('填写信息有误');
                }else{
                    if (this.editing_address_index===''){
                        //新增地址
                        let url='/addresses/create/';
                        axios.post(url, this.form_address, {
                            headers: {
                                'X-CSRFToken': this.getCookie('csrftoken')
                            },
                            responseType: 'json'
                        })
                            .then(response =>{
                            if (response.data.code=='0'){
                                // 局部刷新页面,展示地址信息
                                this.addresses.splice(0,0,response.data.address);
                                this.is_show_edit=false;
                            }else if(response.data.code=='406'){
                                location.href='/login/?next=/address/';
                            }else{
                                alert(response.data.errmsg);
                            }
                        })

                            .catch(error => {
                            console.log(error.response) ;
                        })
                    }else{
                        // 修改地址
                        let url='/address/'+this.addresses[this.editing_address_index].id+'/';
                        axios.put(url,this.form_address,{
                            headers: {
                                'X-CSRFToken': this.getCookie('csrftoken')
                            },
                            responseType: 'json'
                        })
                            .then(response => {
                            if(response.data.code=='0'){
                                this.addresses[this.editing_address_index]=response.data.address;
                                this.is_show_edit=false;
                            }else if(response.data.code=='406'){
                                location.href='/login/?next=/address/';
                            }else{
                                alert(response.data.errmsg);
                            }
                        })
                            .catch(error => {
                            console.log(error.response) ;
                        })
                    }
                }
            },
        },
    });

    app.mount("#app");

</script>
</html>
