<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/simplePagination.css"></link>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--导入vue-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  <!--导入ajax，进行异步请求，局部刷新数据-->
    <!--    由于静态文件存储在static路由下，所以通过后退位置../-->
    <script src="../../../static/jquery.min.js"></script>
    <script src="../../../static/jquery.simplePagination.js"></script>

    <meta charset="UTF-8">
    <title>搜索商品</title>
<!--docker里的elasticsearch对应的是search这个容器，启动就可以搜索了，注意haystcak有自己的映射表，需要启动 rebuild_index 进行更新-->

</head>

<body>

<div id="app">
    <div class="header_con">
        <div class="header" v-cloak>
            <div class="welcome fl">欢迎来到美多商城！</div>
            <div class="fr">
                <div v-if="username" class="login_btn fl">
                    欢迎您：<em>[[ username]]</em>
                    <span>|</span>
                    <a href="/logout">退出</a>
                </div>
                <div v-else class="login_btn fl">
                    <a href="/login">登录</a>
                    <span>|</span>
                    <a href="/register">注册</a>
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="/info">用户中心</a>
                    <span>|</span>
                    <a href="/carts">我的购物车</a>
                    <span>|</span>
                    <a href="user_center_order.html">我的订单</a>
                </div>
            </div>
        </div>
    </div>
    <div class="search_bar clearfix">
        <div class="search_wrap fl">
            <form method="get" action="/search/" class="search_con">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
            <ul class="search_suggest fl">
                <li><a href="#">索尼微单</a></li>
                <li><a href="#">优惠15元</a></li>
                <li><a href="#">美妆个护</a></li>
                <li><a href="#">买2免1</a></li>
            </ul>
        </div>


        <ul class="navlist fl">
            <li><a href="">首页</a></li>
            <li class="interval">|</li>
            <li><a href="">真划算</a></li>
            <li class="interval">|</li>
            <li><a href="">抽奖</a></li>
        </ul>
    </div>
</div>



<div>
<ul class="goods_type_list clearfix">
    {% for result in page %}
    <li>

        <h4><a href="detail.html">{{result.object.name}}</a> </h4>
        <div class="operate">
            <span class="price">{{result.object.price}}</span>
            <span class="comment">{{result.object.comments}}评价</span>
            <span class="unit">已售{{result.object.sales}}台</span>
            <a href="/detail/{{result.object.id}}" class="add_goods" >加入购物车</a>
        </div>
    </li>


    {% endfor %}
</ul>
</div>

<!--设置分页-->
<div class="pagination" id="pageDIV">

</div>


<script type="text/javascript">
        $(function() {
        // 为具有指定选择器的元素设置分页
        $('#pageDIV').pagination({
            currentPage:{{page.number}},
            pages:{{paginator.num_pages}},
            itemsOnPage:5,
            prevText:'上一页',
            nextText:'下一页',
            cssStyle: 'light-theme',
            onPageClick(getCurrentPage){
                location.href='/list/?q={{query}}&page='+getCurrentPage;
        },
        })
    });

    //提取cookie
    function getCookie(name){
        let r= document.cookie.match('\\b'+name+'=([^;]*)\\b')
        return r ? r[1]:undefined;
    };

</script>
</body>





<script>

    const { createApp, ref } = Vue ;

    const app = createApp({
        delimiters:['[[',']]'],
        data() {
            return {
                username:getCookie('username')

            };
        },

    });

    app.mount("#app");

</script>


</html>