<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品首页</title>
<!--    <link rel="stylesheet" type="text/css" href="templates/index.css">-->

    <style>
        body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        }

        .container {
        text-align: center;
        }

        .product {
        text-align: center;
        margin: 20px;
        }

        .product img {

        display: block;
        margin: 0 auto;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="product">
            <img src="../static/product1.jpeg" alt="产品1">
            <h2>产品标题1</h2>
            <p>产品描述1</p>
            <p>价格: $19.99</p>
            <button>添加到购物车</button>
        </div>
        <div class="product">
            <img src="../static/product2.jpeg" alt="产品2">
            <h2>产品标题2</h2>
            <p>产品描述2</p>
            <p>价格: $29.99</p>
            <button>添加到购物车</button>
        </div>
        <!-- 在这里添加更多产品 -->
    </div>
</body>
</html>
